.onboarding-container {
    width: 100%;
    height: 100%;
    position: fixed;

    .left-container {
        width: 50%;
        height: 100%;
        padding-top: 0px;
        float: left;
        
        .onboarding-form-container {
            width: 400px;
            margin: auto;
            // border: 1px solid grey;

            .message-1 {
                font-size: 2.5em;
                text-align: center;
                padding: 10px 0px;
                color: #333333;
                text-transform: uppercase;
            }
            .message-2 {
                width: 60%;
                margin: auto;
                font-size: 0.8em;
                text-align: center;
                margin-bottom: 30px;
            }
            .back-button {
                width: 100%;
                padding: 10px 10px;
                text-align: center;
                background: #445464;
                color: whitesmoke;

                i.back-icon {
                    float: left;
                    
                    &::before {
                        border-style: solid;
                        border-width: 1px 1px 0 0;
                        content: '';
                        display: inline-block;
                        height: 1em;
                        position: relative;
                        top: 0.15em;
                        vertical-align: top;
                        width: 1em;
                        left: 0.25em;
                        transform: rotate(-135deg);
                    }
                }

            }

            .form {
                width: 100%;

                .form-label {
                    width: 95%;
                    margin: auto;
                    margin-top: 5px;

                    .label-text {
                        font-weight: 600;
                        color: #444444;
                        padding: 3px 0px;
                    }

                    input {
                        width: 100%;
                        height: 35px;
                    }
                }
            }
        }
    }
    .right-container {
        width: 50%;
        height: 100%;
        float: right;
        background: darkslategrey;
    }
}