.search-box {
    input.textbox {
        width: 100%;
        padding: 3px;
        min-height: 48px;
        text-indent: 1em;
        font-size: large;
    }
    input.textbox::placeholder {
        opacity: 0.5;
        font-family: Open Sans, FontAwesome
    }
}