.nav-container {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #0000007a;

    a.nav-item.partner-nav-item {
        color: black;
        padding: 13px 0px;
        display: inline-block;
        text-decoration: none;
        opacity: 0.5;
        position: relative;
    }
    a.nav-item.partner-nav-item.active {
        opacity: 0.65;
    }

    a.nav-item.partner-nav-item.active:after {
        content: " ";
        display: block;
        position: absolute;
        background: #000;
        width: 100%;
        height: 5px;
        bottom: 0px;
    }
}