.partner-details, .partners {
    padding: 0px 30px;
}

.partner-details {
    .description {
        font-size: 0.8em;
        color: #777;
    }
    .website-link {
        padding: 5px 10px;
        margin-top: 15px;
    }
    .website-link:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f0ac";
        padding: 5px;
    }
}

.partners {
    h3 {
        font-weight: 100;
        text-align: center;
    }
    .partner-list {
        display: flex;
        justify-content: space-evenly;
    }
}