header {
    .search-partners {
        float: right;
        padding: 0px 10px;
        opacity: 0.7;
    }

    .newsfeed, .explore {
        float: right;
        padding: 0px 10px;
        opacity: 0.7;
        vertical-align: middle;

        a {
            text-decoration: none;   
            color: whitesmoke;
        }
    }

    .vertical-bar {
        float: right;
        border-left: 1px solid whitesmoke;
        opacity: 0.7;
        height: 28px;
        width: 0px;
    }

    .profile-details {
        float: right;
    }
}
.partners-container {
    .partner-profile {
        width: 350px;
        box-shadow: 0 0 10px #cacaca;
        float: left;

        .cover-photo {
            div  {
                width: 100%;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: 100%;
            }

            height: 200px;
        }

    }
}