.stat-box {
    .stat-metric, .label {
        text-align: center;
    }
    .message-button {
        margin-top: 20px;
        margin-bottom: 20px;

        button {
            display: block;
            width: 70%;
            margin: auto;
            background: #ccc;
            border: 0;
            padding: 5px 10px;
            font-size: 1.1em;
        }
    }
}