.partner-feed-page {
    overflow: hidden;

    .partner-feed-container {
        width: 100%;

        .partner-subpage-container {
            width: 95%;
            margin: auto;
            margin-top: 20px;
        }
    }
}