body {
    margin: 0px;
}

header {
    position: relative;
    overflow: auto;
    background: #353535;
    padding: 7px 15px;
    z-index: 1000;

    .logo {
        float: left;
        color: whitesmoke;
        margin: 0px;
        padding: 3px 12px;
        border: 1px solid whitesmoke;
        opacity: 0.7;
    }

    .logout-button {
        float: right;
        padding: 3px 10px;
        color: whitesmoke; 
        font-size: 0.9em;
        opacity: 0.7;
    }
}