.athlete-detail-thumb {
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 22px;

    .athlete-image {
        overflow: hidden;
        width: 100%;
        height: 200px;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;

        img.cover-pic, .display-pic {
            width: 100%;
        }

    }
    .display-pic {
        position: relative;

        .display-image {
            position: absolute;
            z-index: 1000;
            margin-top: -35px;
            height: 56px;
            width: 56px !important;
            border-radius: 1000px;
            overflow: hidden;
            left: 14px;

            background-color: #00000000;
            background-size: auto 100%;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            opacity: 1;
        }
    }
    .athlete-details-short {
        .athlete-name {
            text-align: center;
            font-size: 1.2em;
            color: #666;
        }
        .athlete-sport {
            text-align: center;
            font-size: 0.8em;
            color: #aaa;
        }
        .athlete-team {
            text-align: center;
            font-size: 0.8em;
            color: #aaa;
        }
    }

    .social-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 10px 0px;

        button {
            color: #ffffffc4;
            border: 0px;
            display: inline-block;
            padding: 9px;
            width: 100px;
        }
        .message-button {
            background-color: #1b2329;
        }
        .book-button {
            background-color: #920f0f;
        }
    }
}